@import '/assets/css/scss-utils/utils';

.footer-wrapper {
  position: relative;
  background-color: $color-bay-leaf;

  .inner-wrapper {
    min-height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      font-size: 3rem;
      color: $color-white;
      margin: 0;
      padding: 0;
    }
  }
}
