//
// Breakpoint
$screen-xl: 87.5em; // 1400px
$screen-lg: 75em; // 1200px
$screen-md: 62em; // 992px
$screen-sm: 48em; // 768px
$screen-xs: 36em; // 576px

//
// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-sea-buckthorn: #fcb034;
$color-wattle: #c3d939;
$color-shuttle-gray: #53626f;

$color-limed-spruce: #354f52;
$color-bay-leaf: #84a98c;
$color-tasman: #cad2c5;

//
// Fonts
