@import '/assets/css/scss-utils/utils';

.header-wrapper {
  position: relative;
  background-color: $color-limed-spruce;

  .inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10rem;

    h1 {
      font-size: 4rem;
      color: $color-white;
      margin: 0;
      padding: 0;
    }
  }
}
